body {
  padding: 0;
  margin: 0;
  background-color: black;
  background: url(../images/pexels-the-lazy-artist-gallery-2247179.jpg) no-repeat top center/cover;
}
/*  */
.login {
  border: 2px solid orange;
  width: 30%;
  height: 320px;
  background-color: rgb(8, 8, 8);
  opacity: 0.7;
  color: white;
  margin: auto;
}
.login div {
  padding: 20px;
}
.login img {
  display: block;  /*to convert inline element to block element */
  /* padding-left: 40%; */
  margin: auto;
  width: 150px;

}
.sub {
  padding-bottom: 20px;
  padding-left: 35%;
}
  .sub input {
  width: 35%;
  background-color: green;
  color: white;
}
.sub input:active {
  background-color: lightgreen;
}
.login div input {
  float: right;
  width: 80%;
  background-color: rgb(8, 8, 8);
  border-bottom: 2px solid white;
  border-top: none;
  border-left: 0px;
  border-right: 0px;
  color: white;
}
.login div input:active {
  border: none;
}

